
/* Desktop Styles */

@media (min-width: $desktopScreen) {

    /* Header Styles */
    header {
        height: 70%;
        display: flex;

        section {
            height: 70%;
        }

        img {
            max-height: 50vh;
            max-width: 50vh;
        }
    }
}
