
/* Mobile Styles */

@media (min-width: $mobileScreen) {

    header {
        height: 50vh;
        width: 100vw;
        justify-content: start;
        background-image: url(/public/imgs/MobileLogo.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;

        .nav{
            visibility: hidden;
            display: none;
            height: 50%;
            width: 100%;
            display: flex;
            align-items: center;

            ul{
                display: flex;
            }
        }

        .navMobile{
        }
    }
    
}
